<!DOCTYPE html>
{% extends 'base.html' %}
{% block conteudo %}
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Produtos</title>
   <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
</head>
<body>

<div class="col-8 m-auto pt-2 pb-2 text-center">
    <h1>Cadastro  Produtos</h1>
</div>
<br><br><br><br><br>
<div class="col-8 m-auto pt-2 pb-2  text-center">
    <a href="/principal" class="btn btn-secondary btn-lg">Pagina Principal</a>
</div>

<div class="col-18 m-auto pt-20 pb-20  text-right">
    <a href="/homeproduto" class="btn btn-primary btn-lg">Voltar</a>
</div>



<div class="col-8 m-auto pt-3 pb-2  text-center"></div>
    <div id="result"></div>
             <!--{{form.as_p}}-->
    <div class="col-8 m-auto pt-4 pt-2 text-center"></div>
        <form method="POST" name="formproduto" id="formproduto" action="{% if db %}/updateproduto/{{db.id}}/{%else%}/createproduto/{% endif %}" method="post">
 {% include 'parciais/_messages.html' %}
            {% csrf_token %}

 <div class="form-group">
      <label> <b>Produto</b></label>
      <input type="text" name="produto" value="{{request.POST.produto}}{{db.produto}}" class="form-control">
  </div>


 <div class="form-group">
      <label><b> Obs</b></label>
      <input type="textfield" name="obs" value="{{request.POST.obs}}{{db.obs}}" class="form-control">
  </div>




 <button type="submit" class="btn btn-primary">Cadastrar-me</button>
<input type="submit" class="btn btn-success" value="Salvar">

</form>


<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<script src="{% static 'javascript.js' %}"></script>

<script>

$(document).ready(function() {
     $('#id_produtoform').select2();
});

</script>
{% endblock %}
 </body>
</html>

